//@theme "/usr/share/rofi/themes/Arc-Dark.rasi"
//@theme "/home/reborn/.config/rofi/themes/launchpad.rasi"
//@theme "/home/reborn/.config/rofi/themes/rounded-gray-dark.rasi"
@theme "/home/reborn/.config/rofi/themes/squared-material-red.rasi"
